

header{
  position: absolute;
  z-index: 10;
  width: 100%;
*{
  margin: 0;
  padding:0;
  box-sizing: border-box;
}
body{
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'poppins', sans-serif;
  
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width:100%;
  flex-wrap: wrap;
}
.box{
  position: relative;
  width:350px;
  padding:40px;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0,0,0,.1);
  margin:20px;
  overflow: hidden;
  text-align: center;
}
.btn{
  text-transform: uppercase;
    color: #fff;
    border: none;
    font-weight: 500;
    background-color: #5da3d7;

}
.btn1{
  text-transform: uppercase;
    color: #fff;
    border: none;
    font-weight: 500;
    background-color: #000;
    font-size: 1.2em;

}
.btn:hover{
  background: #000;
  color: #fff;
}
.navbar{
  padding: 20px 0;

}
.navbar-brand{
 
  font-weight: 800;
  text-transform: uppercase;
  font-size: 2em;
  color: white;
.box::before{
  content: '';
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255,255,255,.2);
  z-index: 2;
  pointer-events: none;
}
.box .icon{
  position: relative;
  width: 80px;
  height:80px;
  color:#fff;
  background: #000;
  display:flex;
  align-items: center;
  justify-content: center;
  border-radius:50%;
  margin: 0 auto;
  transition:  1s;
  font-size:40px ;
  font-weight: 700;
}
.box .content{
  position:relative;
  z-index: 1;
  transition: 0.5s;

}
.box:hover .content{
  color:#fff;

}
.box:nth-child(1):hover .icon{
  box-shadow: 0 0 0 400px #e91e63;
}
.box:nth-child(1) .icon{
  box-shadow: 0 0 0 0 #e91e63;
  background: #e91e63;
}
.box:nth-child(2):hover .icon{
  box-shadow: 0 0 0 400px #23e629;
}
.box:nth-child(2) .icon{
  box-shadow: 0 0 0 0 #23e629;
  background:#23e629 ;
}
.box:nth-child(3):hover .icon{
  box-shadow: 0 0 0 400px #2196f3;
}
.box:nth-child(3) .icon{
  box-shadow: 0 0 0 0 #2196f3;
  background: #2196f3;
}
.box .content h3{
  font-size: 20px;
  margin: 10px 0;
  padding:0;

.t{
  color: #fff;
  font-weight: 800;
  text-transform: uppercase;

}
.t:hover{
  background: #000;
  color: #fff;
}
#home{

  background-color: #000;
  
}
.navbar-nav.a{
  color: #fff;
}
#home{
  color: #fff;
}




.helper{
  
  display: flex;
}
.banner{
  position: relative;
  background-image: url('i.png');
  min-height: 100vh;
  background-size: cover;
  background-position: center;
  padding: 250px 0 200px;

}
.helper p{
  background-color:#24ad5d ;
  margin:  1em 0 0;
  padding: 0;
  font-size: 1.2em;
  color: #fff;
  font-weight: 500;
  text-transform: lowercase;
  line-height: 1.5em;
}
.banner h2{
  margin: 0;
  padding: 0;
  font-size: 2,8em;
  color: #09ff70;
  font-weight: 1000;
  
}
.banner p{
  margin:  1em 0 0;
  padding: 0;
  font-size: 1.2em;
  color: #fff;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.5em;

}

.btnD1{

  display: inline-block;
  margin: 1em 0 0;
  background: #26ff80;
  color: #fff;
  padding: 10px 20px;
  text-transform: uppercase;
  box-shadow: silver 2px 2px ;
  font-weight: 800;
}
.btnD1:hover{
  color: #fff;
  text-decoration: none;
}
.navbar-light .navbar-toggler-icon{
  border: none;
  color: #fff;
  border: 2px solid #7f7f7f;
  border-radius: 0;
  outline: none;
}

@media(max-width:768px )
{
.banner{
    padding: 200px 0;


}
.banner h2{
    font-size: 1.8em;
}
}
}
.box .content p{
  margin:0;
  padding:0;
}
a{
  display: inline-block;
  padding:10px 20px;
  background: #fff;
  border-radius: 4px;
  text-decoration: none;
  color: #000;
  font-weight:500;
  margin-top: 20px;
  box-shadow: 0 2px 5px rgba(0 0 0 .2);

}


